DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/post_db
SECRET_KEY=django-insecure-le0ej^7gzn1(=2zuux$*ga(^)vf)=05-p=05xha&#n8=x$^9c3
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]
DEBUG=TRUE
DATABASE_NAME=winterartdb
DATABASE_USER=postgres
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=5433
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
EMAIL_HOST_USER=davenagel00@gmail.com
EMAIL_HOST_PASSWORD=xpfmsnbxixpbmrxj
REDIS_URL=redis://127.0.0.1:6379/