{% extends "winterfun/templates/base.html" %}
    {% block content %}
    {% load crispy_forms_tags %}

    <section class="section">
        <div class="container">
            <div class="columns is-mobile has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                <div class="card">
                <div class="content-section">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Update Password</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
        </div>
        </div>
    </section>

{% endblock %}